<template>
    <ul class="list-group">
        <li class="list-group-header">
            <button class="btn btn-default" @click="getGames" :disabled="refreshDisabled">Refresh List</button>
        </li>
        <li v-for="game in games" :key="game._id" class="list-group-item selectable">
            <recent-game-row :game="game" active/>
        </li>
        <li class="list-group-header">
            <h4>Recent Games</h4>
        </li>
        <li v-for="game in recentGames" :key="game._id" class="list-group-item selectable">
            <recent-game-row :game="game"/>
        </li>
    </ul>  
</template>

<script>
import RecentGameRow from './RecentGameRow'
import { sleep } from '../framework/utils'
import socket from '../framework/socket'
import { mapState } from 'vuex';

export default {
    components: { RecentGameRow },
    data() {
        return {
            refreshDisabled: false,
        }
    },
    computed: {
        ...mapState('Games', ['games', 'recentGames'])
    },
    methods: {
        async getGames() {
            this.refreshDisabled = true;
            socket.send({ action: 'refresh-games-list' });
            await sleep(5000);
            this.refreshDisabled = false;
        }
    }
}
</script>
