<template>
  <div class="map-info" v-if="game">
      <div class="left">
          <img v-if="hasScreenshot(game)" class="screenshot" :src="getScreenshot(game)" style="width: 95%" />
          <img v-else class="screenshot" src="~@/assets/icon.png" style="width: 95%" />
      </div>
      <div class="right">
          <h4>{{ game.map.name }} by {{ game.map.author }}</h4>
          <div class="subtitle" v-if="game.map.score">Score: {{ game.map.score }}</div>
          <div class="subtitle">Released on {{ game.map.releaseDate | date }}</div>
          <div class="actions">
              <label v-if="allowStats">
                  Run Stats: <input type="checkbox" v-model="runStats" /><br/>
              </label>
              <button @click="join" class="btn btn-primary" v-if="active">Join Game</button>
              <span v-if="!game.map.cdMap">
                <button @click="readReview" class="btn btn-default">Read Review</button>
                <button @click="download" class="btn btn-default">Download Map</button>
              </span>
          </div>
          <hr/>
          <div class="subtitle">Your Name: <input type="text" v-model="nickname" placeholder="nickname"/> </div>
          <div class="subtitle">Hosted by: {{ game.host }}</div>
          <div class="subtitle">Date: {{ game.createdOn | dateTime }}</div>
          <div class="subtitle" v-if="game.gameType">Type: {{ game.gameType }}</div>
          <div class="subtitle" v-if="active">IP: {{ game.ip }}</div>
          <div class="subtitle" v-if="allowStats && game && game.clientId"><input type="text" v-model="pid" /></div>
          <button v-if="allowStats" @click="attachStats" class="btn btn-default">Attach Stats</button>
      </div>
      <div class="clear"></div>
      <div v-if="stats && stats.length">
          <br/>
          <table>
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Kills</th>
                      <th>Deaths</th>
                      <th>Suicides</th>
                      <th>KDR</th>
                      <th>Score</th>
                    </tr>
              </thead>
              <tbody>
                  <tr v-for="stat in stats">
                      <td>{{ stat.player }}</td>
                      <td>{{ stat.kills }}</td>
                      <td>{{ stat.deaths }}</td>
                      <td>{{ stat.suicides }}</td>
                      <td>{{ stat.kdr }}</td>
                      <td>{{ stat.score }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</template>

<script>
import { shell } from 'electron'
import settings from '../framework/settings'
import { mapState, mapGetters } from 'vuex';
import launchGame from '../framework/launchGame';
import screenshotMixin from './screenshotMixin'
import socket from '../framework/socket'
import listenForStats from '../framework/stats'

export default {
    mixins: [screenshotMixin],
    data() {
        return {
            pid: null,
            runStats: false,
            allowStats: false,
            url: settings.url,
            nickname: settings.nickname,
            stats: []
        }
    },
    computed: {
        ...mapState('SelectedGame', ['active']),
        ...mapGetters('SelectedGame', ['gameId']),
        ...mapState('Games', ['games', 'recentGames']),
        game() {
            let games = [...this.games, ...this.recentGames];
            let game = games.find(g => g._id == this.gameId);
            if(game) {
                this.stats = game.results;
            }
            
            return game;
        },
    },
    created() {
        this.setStatsPermission();
    },
    watch: {
        nickname(value) {
            this.setStatsPermission();
        }
    },
    methods: {
        async attachStats() {
            let stats = await listenForStats(this.game.clientId, this.pid);
        },
        async setStatsPermission() {
            let result = await this.$http.get(`${settings.url}/api/user/${this.nickname}/stats`);
            this.allowStats = result.data;
        },
        async join() {
            settings.nickname = this.nickname;
            let next = await launchGame({ filename: this.game.map.filename, ip: this.game.ip, runStats: this.runStats });
            if(this.runStats) {
                socket.send({ action: 'do-stats', name: this.nickname, id: this.game._id });
                let stats = await listenForStats(this.game.clientId, next.pid);
            }
        },
        readReview() {
            shell.openExternal(`${settings.url}/review/${this.game.map._id}`);
        },
        download() {
            shell.openExternal(`${settings.url}/maps/${this.game.map.filename}`);
        },
    }
}
</script>

<style scoped>
.actions {
    padding-top: 3px;
}
.screenshot {
    box-shadow: 2px 2px 12px 2px;
}
.subtitle {
    font-size: 16px;
}
.left {
    min-width: 400px;
    width: 40%;
    float: left;
}
.right {
    margin-left: 420px;
}
.clear { clear: both; }
.map-info {
    margin-left: 20px;
}
</style>
