<template>
  <div class="container" style="margin-top:15px;">
      <div class="left">
          Custom Map <input type="radio" v-model="mapType" value="custom"/>
          CD Map <input type="radio" v-model="mapType" value="cd" />
      </div>
      <div class="right"></div>
      <div class="clear"></div>
        <div class="left">
            <div v-if="mapType == 'cd'">
                <select v-model="selectedMap">
                    <option :value="null">Select Map</option>
                    <option v-for="map in cdMaps" :key="map._id" :value="map">{{ map.name }}</option>
                </select>
            </div>
            <div v-else>
                <vue-instant 
                    :suggestion-attribute="suggestionAttribute"
                    v-model="value"
                    :disabled="false"
                    @input="changed"
                    @selected="selected"
                    @clear="clear"
                    :show-autocomplete="true"
                    :autofocus="false"
                    :suggestions="suggestions"
                    name="customName"
                    placeholder="Search Maps"
                    type="twitter"></vue-instant>
            </div>
        </div>
        <div class="right"></div>
        <div class="clear"></div>
        <div v-if="selectedMap" class="map-info">
            <h4>{{ selectedMap.name }} by {{ selectedMap.author }} / Supported Modes: {{ selectedMap.gameTypes | arrayToString }} </h4>
            <div class="left">
                <img v-if="hasScreenshot(selectedMap)" :src="getScreenshot(selectedMap)" class="screenshot" />
            </div>
            <div class="right" style="margin-left: 420px;">
                <div style="float: left; width: 140px;">
                    <div class="form-group">
                        <label>IP address</label>
                        <input type="text" v-model="myIp" placeholder="IP address" class="form-control"/>
                    </div>
                </div>
                <div style="margin-left: 150px;">
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" v-model="nickname" placeholder="nickname" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <select v-model="gametype">
                        <option :value="null">- Select Game Mode </option>
                        <option value="DM">Death Match</option>
                        <option value="Teams">Teams</option>
                        <option value="CTF">CTF</option>
                        <option value="KFC">KFC</option>
                    </select>
                </div>
                <button @click="launch" class="btn btn-form btn-primary">Launch Game</button>
                <button v-if="stats" @click="uploadStats" class="btn btn-form btn-primary">Upload Stats</button>
                <button v-if="!selectedMap.cdMap" @click="review" class="btn btn-form btn-default">Read Review</button>
                <br/>
                <ul>
                    <li>The Bot will post link and game info in discord</li>
                    <li v-if="!selectedMap.cdMap">Launcher will install map and launch the game</li>
                </ul>              
            </div>
            <div class="clear"></div>
        </div>
  </div>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete'
import { shell } from 'electron'
import launchGame from '../framework/launchGame'
import settings from '../framework/settings'
import socket from '../framework/socket'
import listenForStats from '../framework/stats'
import screenshotMixin from './screenshotMixin'
const uuidv1 = require('uuid/v1');
const getIp = require('external-ip')();

export default {
    components: { Autocomplete },
    mixins: [screenshotMixin],
    data() {
        return {
            mapType: 'custom',
            nickname: this.$mySettings.nickname,
            selectedMap: null,
            myIp: '',
            cdMap: null,
            value: '',
            suggestionAttribute: 'name',
            gametype: null,
            suggestions: [],
            selectedEvent: '',
            cdMaps: [],
            stats: null
        }
    },
    watch: {
        mapType(v) {
            this.selectedMap = null;
            this.cdMap = null;
        }
    },
    async created() {
        getIp((err, ip) => {
            if(err) return;
            this.myIp = ip;
        });
        this.cdMaps = (await this.$http.get(`${this.$mySettings.url}/api/reviews?cdMap=true&sortBy=name`)).data.data;
    },
    methods: {
        uploadStats() {
            socket.send(this.stats);
        },
        selected(obj){
            if(!this.selectedMap || this.selectedMap._id  != obj._id) {
                this.selectedMap = obj;
            }            
        },
        clear() {
            this.value = '';
            this.selectedMap = null;
        },
        review() {
            if(this.selectedMap) {
                shell.openExternal(`${this.$mySettings.url}/review/${this.selectedMap._id}`);
            }
        },
        async launch() {
            let filename = this.selectedMap.filename;
            let next = await launchGame({ hosting: true, runStats: true, filename });
            let clientGameId = uuidv1();
            socket.send({ action: 'host', clientGameId, ip: this.myIp, map: this.selectedMap._id, host: this.nickname, statsReader: this.nickname, gameType: this.gametype });
            socket.debug({ next, clientGameId, nickname: this.nickname }, 'launched-game');
            if(next.stats) {
                socket.debug({ clientGameId }, 'about to launch stats');
                let stats = await listenForStats(clientGameId, next.pid);
            }
        },
        async changed(){
            if(this.value && this.value.length >= 3) {
                var that = this;
                this.suggestions = [];
                let params = { params: {
                    name: this.value,
                    nameType: 'startsWith',
                    reviewStatus: 'all',
                    cdMap: false
                } };

                let result = await this.$http.get(`${this.$mySettings.url}/api/reviews`, params);
                this.suggestions = result.data.data;
            }
        }
    }
}
</script>

<style scoped>
    .left {
        width: 200px;
        float: left;
    }
    .right {
        margin-left: 240px;
        width: 300px;
    }
    .clear { clear: both; }

    .screenshot { width: 400px; }

    .buckshotville {
        background-image: url('~@/assets/buckshotville.png')   
    }
</style>
