<template>
<div style="margin-top: 20px;">
  <div class="left">
        <div class="form-group">
            <label>Your Nickname</label>
            <input type="text" v-model="nickname" placeholder="nickname" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Map URL or filename</label>
            <input type="text" v-model="mapUrl" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Host IP Address</label>
            <input type="text" v-model="hostIp" class="form-control"/>
        </div>
        <div v-if="allowStats" class="form-group">
            <label>
                Run Stats
                <input type="checkbox" v-model="runStats" />
            </label>
        </div>
        <div v-if="allowStats" class="form-group">
            <label>Host Name</label>
            <input type="text" v-model="host" class="form-control"/>
        </div>
        <div v-if="allowStats" class="form-group">
            <label>Game Type</label>
            <input type="text" v-model="gameType" class="form-control"/>
        </div>
        <div class="form-group" v-if="hostIp">
            <button @click="join" class="btn btn-primary" v-if="hostIp">Join Game</button>
        </div>
  </div>
  <div class="right" v-if="game">
      <img v-if="hasScreenshot(game)" class="screenshot" :src="getScreenshot(game)" style="width: 95%" />
      <h4>{{ game.name }} by {{ game.author }}</h4>
      <div class="subtitle" v-if="game.score">Score: {{ game.score }}</div>
      <div class="subtitle">Released on {{ game.releaseDate | date }}</div>
        <div class="actions">
            <button @click="readReview" class="btn btn-default">Read Review</button>
            <button @click="download" class="btn btn-default">Download Map</button>
        </div>
  </div>
  <div class="right" v-else-if="mapUrl === null || mapUrl === '' || mapUrl === undefined">
      Enter game details to the left. Enter the filename or the URL to the map being played and the launcher will download and install
      the map for you and then launch the game. You should even be able to paste the address of a test map being shared in discord.
      Leave the map url field blank if you already have the map installed or if it is a CD Map.
  </div>
  <div class="right" v-else-if="mapFound === false">
      <strong>Map not found @ Olhideout.net but you can still join the game from here</strong>
      <div v-if="isUrl"><br/>
      Map will be downloaded from {{ mapUrl }} and installed automatically</div>
  </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { shell } from 'electron'
import settings from '../framework/settings'
import launchGame from '../framework/launchGame';
import screenshotMixin from './screenshotMixin'
import socket from '../framework/socket'
import listenForStats from '../framework/stats'
const uuidv1 = require('uuid/v1');

export default {
    mixins: [screenshotMixin],
    data() {
        return {
            allowStats: false,
            runStats: false,
            host: null,
            gameType: null,
            nickname: settings.nickname,
            hostIp: null,
            mapUrl: null,
            game: null,
            mapFound: null
        }
    },
    computed:{
        isUrl() {
            return _.startsWith(this.mapUrl, 'http');
        }
    },
    created() {
        this.setStatusPermission();
    },
    methods: {
        async setStatusPermission() {
            let result = await this.$http.get(`${settings.url}/api/user/${this.nickname}/stats`);
            this.allowStats = result.data;
        },
        async join() {
            settings.nickname = this.nickname;
            let filename = this.game ? this.game.filename : null;
            let options = { ip: this.hostIp, filename, runStats: this.runStats };
            if(!this.mapFound && this.mapUrl && this.isUrl) {
                options.url = this.mapUrl;
            }

            let clientGameId = uuidv1();
            if(this.runStats) {
                let map = this.game;
                if(map) {
                    socket.send({ action: 'host', clientGameId, ip: this.hostIp, map: map._id, host: this.host, statsReader: this.nickname, gameType: this.gameType });
                }
            }
            let next = await launchGame(options);
            if(next.stats) {
                let stats = await listenForStats(clientGameId, next.pid);
            }
        },
        readReview() {
            shell.openExternal(`${this.$mySettings.url}/review/${this.game._id}`);
        },
        download() {
            shell.openExternal(`${this.$mySettings.url}/maps/${this.game.filename}`);
        }
    },
    watch: {
        async mapUrl(value) {
            if(!value) {
                this.mapFound = null;
                this.game = null;
            }
            if(value && value.endsWith('.zip')) {
                let filename = value;
                if(value.includes('/')) {
                    let parts = value.split('/');
                    filename = _.last(parts);
                }
                let result = await this.$http.get(`${settings.url}/api/map/${filename}`);
                if(result && result.data) {
                    this.mapFound = true;
                    this.game = { ...result.data };
                }
            }
        }
    }
}
</script>

<style scoped>
    .left {
        width: 200px;
        float: left;
    }
    .right {
        margin-left: 240px;
        width: 400px;
    }
    .clear { clear: both; }
.screenshot {
    box-shadow: 2px 2px 12px 2px;
}

</style>
