<template>
<form class="options">
  <div class="form-group">
    <label>In-Game Nickname</label>
    <input type="text" class="form-control" v-model="nickname">
  </div>
  <div class="form-group">
    <label>Outlaws Path</label>
    <input type="text" class="form-control" v-model="path">
  </div>
  <div class="form-group">
    <label>Look for games in Discord announced in the last</label>
    <select class="form-control" v-model="minutes">
        <option value="10">10 minutes</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="60">1 hour</option>
        <option value="120">2 hours</option>
        <option value="180">3 hours</option>
        <option value="240">4 hours</option>
  </select>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" v-model="newGameNotifications"> Enable New Game Notifications
    </label>
  </div>
  <div class="form-actions">
    <button @click="save" class="btn btn-form btn-primary">OK</button>
    <button @click="cancel" class="btn btn-form btn-default">Cancel</button>
  </div>
  <br/>
  EXE: {{ olwin }}<br/>
  MapInstall: {{ mapInstallPath }}
</form>
</template>

<script>
import router from '../router'
import settings from '../framework/settings'

export default {
    name: 'options',
    data() {
        return {
            mapInstallPath: settings.mapInstallPath,
            olwin: settings.olwin,
            nickname: settings.nickname,
            path: settings.path,
            minutes: settings.minutes,
            newGameNotifications: settings.newGameNotifications
        }
    },
    methods: {
        save() {
            settings.nickname = this.nickname;
            settings.path = this.path;
            settings.minutes = this.minutes;
            settings.newGameNotifications = this.newGameNotifications;
            router.push('/');
        },
        cancel() {
            router.push('/');
        }
    }
}
</script>

<style scoped>
    .options {
        margin-left: 20px;
        margin-top: 20px;
    }
    .options .form-control {
        border-radius: 0px;
    }

    .options .form-control:focus {
        /* border-color: #ddd; */
        box-shadow: 0px 0px 0px 0px;
    }
</style>
