<template>
    <div>
        <a href="#" @click.prevent="showGame">
            <img v-if="hasScreenshot(game)" :class="css" :src="getScreenshot(game)" width="64" height="64" />
            <img v-else :class="css" src="~@/assets/icon.png" width="64" height="64" />
        </a>
        <div class="media-body">
            <strong><span v-if="game.gameType">{{ game.gameType }} @ </span>{{ game.map.name }}</strong>
            <p>Hosted by {{ game.host }}</p>
        </div>
    </div>
</template>

<script>
import screenshotMixin from './screenshotMixin'
export default {
    mixins: [screenshotMixin],
    props: { 
        game: { type: Object, required: true },
        active: { type: Boolean, default: false }
    },
    data() {
        return {
            css: 'img-circle media-object pull-left'
        }
    },
    methods: {
        showGame() {
            this.$store.commit('SelectedGame/select', { game: this.game, active: this.active });
            this.$router.push('/game');
        }
    }
}
</script>

<style scoped>
li img {
    cursor: pointer;
}
</style>