<template>
<div>
    <h3>You are running version: {{ version }}</h3>
    <div v-if="updateAvailable">
        Update available! Restart Launcher to auto-update
    </div>
    <h3>Features:</h3>
    <ul>
        <li>Select an icon on left to view game details</li>
        <li>Join game, read review, or download map</li>
        <li>When you join a game through the launcher, the map will be downloaded and installed automatically!</li>
    </ul>
    <h3>Release notes</h3>
    <ul>
        <li v-for="note in releaseNotes" :key="note.id">
            {{ note.createdOn | date }} - {{ note.note }} - v{{ note.version }}
        </li>
    </ul>
        </div>
</template>

<script>
import settings from '../framework/settings'
const shell = require('electron').shell
var appVersion = window.require('electron').remote.app.getVersion();

export default {
    name: 'release-notes',
    data() {
        return {
            version: appVersion,
            updateAvailable: false,
            releaseNotes: []
        }
    },
    methods: {
        update() {
            shell.openExternal(`${settings.url}/launcher`);
        }
    },
    async created() {
        let result = await this.$http.get(`${settings.url}/api/release`);
        this.releaseNotes = result.data;
        this.updateAvailable = this.releaseNotes[0].version != this.version;
    }
}
</script>

<style>

</style>
