<template>
  <div id="app" class="window">
    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar scroller">
          <games-list />
        </div>
        <div class="pane" style="padding-left: 20px;">
          <router-view />
        </div>
      </div>      
    </div>
  </div>
</template>

<script>
  import router from './router'
  import GamesList from './components/GamesList'
  import { ipcRenderer } from 'electron'
  import _socket from './framework/socket'
  import settings from './framework/settings'

  export default {
    name: 'olhideout-launcher',
    components: { GamesList },
    created() {
      _socket.connect();
      ipcRenderer.on('show-component', (event, message) => {
        router.push(message);
      });
    }
  }
</script>

<style scoped>
  body {
    margin-left: 20px;
  }
  .scroller {
    overflow: scroll;
  }
</style>
